APP_NAME="Cabin Website"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://cabin-website.onrender.com

DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/database/database.sqlite

SESSION_DRIVER=file
CACHE_STORE=file

STATAMIC_API_ENABLED=false
STATAMIC_REVISIONS_ENABLED=false
STATAMIC_PRO_ENABLED=false
