/vendor
/node_modules
.env
.env.*
!.env.example
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/public/hot
/public/storage
/public/assets
.DS_Store
composer.lock
database/database.sqlite
